.nav {
    border: 1px solid black; /* cor para visualização */
    grid-column: 2; /* ocupar a segunda coluna do grid */

}

.nav ul li {
    display: inline-block; /* alinhar horizontalmente a lista */
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

.nav a {
    text-decoration: none; /* remover o sublinhado dos itens da lista */
    font-size: 1.5rem;
    color: black;
}

a:hover {
    color: #2e5e46;
    text-decoration: underline;
}
